<h1>Bienvenue dans l'application de Gestion des Ventes</h1>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gestion des Produits</h5>
                <p class="card-text">Gérer l'inventaire des produits</p>
                <a href="/produits" class="btn btn-primary">Voir les produits</a>
            </div>
        </div>
    </div>
</div>
