<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="error-template">
                <h1>Erreur</h1>
                <div class="error-details mb-4">
                    <%= error.message || 'Une erreur est survenue' %>
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary">
                        <i class="fas fa-home"></i> Retour à l'accueil
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
